    html { height: 100%; }
    body {
        margin: 0;
        height: 100%;
        position: relative; }
    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }
    .firepad {
      width: 720px;
      height: 720px;
      background-color: green; /* dark orange background */
    }
    #firepad {
        flex: 1;
    }
    .powered-by-firepad {
        height: 0px;
    }

    /* Note: CodeMirror applies its own styles which can be customized in the same way.
      To apply a background to the entire editor, we need to also apply it to CodeMirror. */
    .CodeMirror {
      background-color: lightblue;
      display: flexbox;
    }
