html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

body::after {
    content: "";
    background: url(dimension.png);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

#html-firepad-container, #css-firepad-container, #js-firepad-container, #server-firepad-container, #db-firepad-container {
    width: 100%;
    height: 100vh;
}

.app-frame {
    width: 45vw;
    height: 85vh;
}

#serveriframe {
    width: 45vw;
    height: 85vh;
}

#IframeTabContainer {
    width: 45vw;
    height: 85vh;
}

.powered-by-firepad {
    height: 0px;
}

/* Note: CodeMirror applies its own styles which can be customized in the same way. To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4CAF50;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > button {
    margin-top: 8px;
    margin-right: 5px;
}

.giant-container {
    display: flex;
}

.editor-container, .iframe-container {
    width: 50%;
    margin: 0;
    padding: 0;
}

.welcome img {
    width: 200px;
    margin: auto;
    display: block;
}

.welcome-inner {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.selectdropdown {
    font-size: 14px;
    width: auto;
}

.col-md-12 {
    padding-right: 0px;
}

table {
    width: 100%;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h4 {
  text-align: center;
}

li {
    cursor: pointer;
}

.welcome {
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.5)), url('http://www.wallpaperup.com/uploads/wallpapers/2014/01/18/231587/81ad20119d092dd1f122cffca660d27d.jpg');
    height: 100vh;
    width: 95vw;
    left: 0;
    right:0;
    margin-top:-20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: fixed;
    border: 1px solid #e2e2e2;
}

#welcome, #sandcastle-picture, #welcome-to-sandcastle {
  margin-top: 60px;
  margin-bottom: 60px;
}

.welcome-text {
  font-family: 'Roboto', sans-serif;
}

.custom-modal {
    width: 80%;
    margin-top: 15px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#progress-modal-body {
    height: 60vh;
}

.sandcastle-icon {
  margin-right: 5px;
}

#FirepadTabContainer {
  margin-left: 6%;
}

iframe {
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5%;
    background-color: white;
    height: 100vh;
}

ul.nav.nav-tabs {
    border: 0px;
}

#FirepadTabContainer ul.nav.nav-tabs {
  margin-left: 1.7%;
}

.tab-div {
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    height: 100vh;
    padding: 5%;
}

.no-projects {
    padding: 5%;
}

