html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

#html-firepad-container, #css-firepad-container, #js-firepad-container, #server-firepad-container, #db-firepad-container {
  width: 100%;
  height: 98vh;
}

.app-frame {
  width: 45vw;
  height: 85vh;
}

#serveriframe {
  width: 45vw;
  height: 85vh;
}

#IframeTabContainer {
  width: 45vw;
  height: 85vh;
}

.powered-by-firepad {
  height: 0px;
}

/* Note: CodeMirror applies its own styles which can be customized in the same way. To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: lightgray;
  /*display: flexbox;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4CAF50;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > button {
    margin-top: 8px;
}

.navbar-default .navbar-nav > li > input {
    margin-top: 8px;
}

.giant-container {
  display: flex;
}

.editor-container, .iframe-container {
  width: 50%;
}

.welcome img {
  width: 200px;
  margin: auto;
  display: block;
}

.selectdropdown {
  font-size: 14px;
  width: auto;
}

.col-md-12 {
  padding-right: 0px;
}

table {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Quattrocento', serif;
  text-align: center;
}

li {
  cursor: pointer;
}

.welcome {
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.5)), url('http://www.wallpaperup.com/uploads/wallpapers/2014/01/18/231587/81ad20119d092dd1f122cffca660d27d.jpg');
    height: 100vh;
    left: 0;
    right:0;
    margin:-20px;
    overflow: hidden;
    position: fixed;
}

.custom-modal {
  width: 80%;
  margin-top: 15px;
}
