html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

/*.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
*/
#firepad-container {
  width: 100%;
  height: 85vh;
  /*height: 0;
  width: 0;*/
}

#htmlFirepad {
  width: 100%;
  height: 85vh;
  /*height: 0;
  width: 0;*/
}

#cssFirepad {
  width: 100%;
  height: 85vh;
    /*height: 0;
  width: 0;*/
}

#javascriptFirepad {
  width: 100%;
  height: 85vh;
    /*height: 0;
  width: 0;*/
}

/*.pagehalf {
  flex: 1;
}*/

img {
  width: 45vw;
  height: 85vh;
}

.powered-by-firepad {
  height: 0px;
}

/* Note: CodeMirror applies its own styles which can be customized in the same way. To apply a background to the entire editor, we need to also apply it to CodeMirror. */
.CodeMirror {
  background-color: lightgray;
  /*display: flexbox;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4CAF50;
    font-weight: bold;
}
