/*write css here*/
h1 {
  color: #add8e6;
  font-family: 'Space Mono', monospace;
}

/*@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}*/
#map {
  height: 400px;
  width: 100%;
  background-color: #add8e6;
}